.voice-record-controls-container {
    position: absolute;
    left: 98.5%;
    z-index: 1;
    top: 22%;
    display: flex;
    flex-direction: row;
}

.voice-record-start-button {
    width: 40px;
    height: 40px;
    padding: 0px;
    background: white;
    background-position: center -20%;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: white;
    border-radius: 40px;
    border: 1px solid lightgrey;
    box-shadow: 4px 7px 10px -6px;
}

.voice-record-controls span {
    margin-top: 6%;
    width: 40px;
    text-align: center;
}

.voice-record-controls::before {
    border: 1px solid lightgray;
    border-left: none;
    background: white;
    content: "";
    position: absolute;
    width: 88%;
    height: 84%;
    top: 12%;
    left: 14%;
    z-index: -1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 7px 10px -6px;
}

.voice-record-controls button {
    border: none;
    background: none;
    padding: 5px;
}
